<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.education.EduMapper">

    <select id="queryVideoList"  resultType="com.jk.model.education.MessageBean">
	     select * from t_message
    </select>

    <select id="searchmany" parameterType="String" resultType="com.jk.model.education.MessageBean">
	     select * from t_message
      where couClass = #{search} and status = 2
    </select>
    <select id="priceType" parameterType="String" resultType="com.jk.model.education.MessageBean">
	    select * from t_message
      where couType = #{search} and status = 2
    </select>
    <select id="login" parameterType="String" resultType="com.jk.model.education.User">
	   select * from x_user
      where phoneNumber = #{phone}
    </select>

    <select id="queryHotList"  resultType="com.jk.model.education.MessageBean">
	   select * from t_message where status = 2 order by allCount
     limit 0,2
    </select>


    <select id="searchList" parameterType="String" resultType="com.jk.model.education.MessageBean">
        select * from t_message
        where 1=1
        <if test="search!=null and search!=''">
            and couTitle like '%${search}%'
        </if>
        and status = 2
    </select>

    <select id="queryCLassTypeList"  resultType="com.jk.model.education.TypeBean">
	   select * from t_type
    </select>

    <insert id="adduser" parameterType="com.jk.model.education.User">
		insert into x_user(id,userName,phoneNumber,password)
		values(#{user.id},#{user.userName},#{user.phoneNumber},#{user.password})
	</insert>


    <select id="queryClassByTypeId"  resultType="com.jk.model.education.MessageBean">
	   select * from t_message where status = 2
    </select>

    <insert id="addCourse">
      insert t_message (couId,couTitle,couType,couClass,couPrice,couState,priImg,infoName,couInfo,status)
      values (#{couId},#{couTitle},#{couType},#{couClass},#{couPrice},#{couState},#{priImg},#{infoName},#{couInfo},1)
    </insert>

    <update id="updateCollect">
        update t_message set status = 2 where couId=#{courseId}
    </update>

    <select id="querydeils" resultType="com.jk.model.education.MessageBean">
      select * from t_message where couId=#{couId}
    </select>

    <select id="queryuser" resultType="com.jk.model.education.User">
        select * from x_user where id=#{userId}
    </select>

    <select id="getBuyInfo" resultType="com.jk.model.education.MessageBean">
        select * from t_message where couId=#{couId}
    </select>

    <select id="queryTeacherById" resultType="com.jk.model.education.Teacher">
        select * from t_teacher where teacherId =#{teaId}
    </select>

    <select id="queryMessageCountById" resultType="int">
        select count(*) from t_message where teaId =#{teaId}
    </select>

    <insert id="addTeacher" parameterType="com.jk.model.education.Teacher">
        insert into t_teacher
            (teacherId,teacherName,idcard,school,career,teacherTime,
            address,email,status,createTime,teaSex,teaInfo)
        values
          (#{teacherId},#{teacherName},#{idcard},#{school},#{career},#{teacherTime},
          #{address},#{email},1,now(),#{teaSex},#{teaInfo})
    </insert>

    <select id="getMesByUserId" resultType="com.jk.model.education.MessageBean">
        select m.*,t.teacherName teacherName,u.buyTime createTime ,u.userMesId userMesId from t_message m ,t_user_mes u , t_teacher t
        where m.teaId = t.teacherId and m.couId = u.mesId and u.userId = #{id}
    </select>

    <insert id="addClassUser">
      insert t_user_mes ( mesId,userId,buyTime)
      values (#{couId},#{id},now())
    </insert>


</mapper>