<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jk.mapper.deils.DeilsMapper">
    <insert id="addCourse">
      insert t_message (couTitle,couType,couClass,couPrice,couState,priImg)
        values (#{couTitle},#{couType},#{couClass},
       #{couPrice},#{couState},#{priImg})
    </insert>

    <update id="updateCollect">
        update t_message set status = 2 where couId=#{courseId}
    </update>

    <update id="updateMessage">
        update t_message
        set
        infoName = #{infoName},
        couInfo=#{couInfo}
        where couId=#{couId}
    </update>

    <select id="querydeils" resultType="com.jk.model.education.MessageBean">
      select * from t_message where couId=#{couId}
    </select>
    <select id="queryuser" resultType="com.jk.model.education.User">
        select * from x_user where id=#{userId}
    </select>

    <select id="queryMess" resultType="com.jk.model.education.MessageBean">
        select * from t_message where couTitle=#{couTitleId}
    </select>
</mapper>