/*CSS RESET Author:Chinyu*/

/* Clear default Margin & Paddding */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre, dfn, img, dl, dt, dd, ol, ul, li,fieldset, form, legend,table, caption,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font:inherit;vertical-align: middle;}
header,section,hgroup,aside,footer,nav{display:block;margin:0;}

/* Set default Fonts*/
textarea {resize:none;}
body,button,textarea {
    font: 12px/180% '宋体', Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }
address, cite, dfn, em, var { font-style: normal; }
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; }
small { font-size: 12px; }
em {font-weight:bold;}
/* Reset List Elements */
ul, ol { list-style: none; }

/* Reset Text Format Elements */
a {text-decoration: none; }
a:hover { text-decoration: underline;}
abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}
q:before, q:after {content: ''; }

/* Reset Form Elements */
input,label,select{ vertical-align:middle;} 
legend {margin-left:24px;padding:0 12px;color: #000; } /* for ie6 */
img { border: none; } /* img no border*/
fieldset {padding:6px 10px 10px 10px;border:1px solid #ccc;}
button, input, select, textarea {
    font-size: 100%;
}

/* Reset Table Elements */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {vertical-align:middle;}
/* Rest hr */
hr {
    border: none;
    height: 1px;
	border-top:1px solid #ccc;
	margin:8px 0 10px 0;
}

html { overflow-y: scroll; }
