<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="../EasyUI/themes/icon.css"/>
    <link rel="stylesheet" href="../EasyUI/themes/default/easyui.css"/>
    <link rel="stylesheet" href="../EasyUI/themes/color.css"/>
    <script type="text/javascript" src="../EasyUI/jquery.min.js"></script>
    <script src="../EasyUI/jquery.easyui.min.js"></script>
    <script src="../EasyUI/locale/easyui-lang-zh_CN.js"></script>
    <script src="../EasyUI/util-js.js"></script>
</head>
<body>
    <form id="add_Role_Form">
        <table>
            <tr>
                <td>角色名称</td>
                <td><input type="text" name="roleName"/>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>