<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″ />
    <title>金科在线教育</title>
    <link rel="canonical" href="https://ke.qq.com/course/130952">
    <link rel="stylesheet" href="../common.9d8f74fe.css"/>
    <link rel="stylesheet" href="../course.7aed7816.css"/>
    <link rel="stylesheet" href="../video/css/Dvideo.css">
    <link rel="stylesheet" href="../video/font-icon/style.css">
    <script type="text/javascript" src="../js/jquery.min.js" ></script>
</head>
<body>
<header class="header-index" id="js_main_nav">
    <div class="header-index-inner clearfix">
        <a href="../user/tomain"  report-tdw="action=rainbow-logo-clk" title="金科在线教育平台"><img src="../images/logo.jpg" width="250px" height="100px"></a>
    </div>
</header>
<input type="hidden" id="getVideo" th:value="${couInfo}">
<input type="hidden" id="getVideoName" th:value="${infoName}">

<div  style="height:420px; width:1400px;">
    <div style="height:420px; width:40px;float:left"></div>
    <div id="testVideo" style="height:420px; width:800px;float:left"></div>
    <div style="height:420px; width:5px;float:left"></div>
    <div style="height:420px; width:500px;float:left;background:url('../images/1f17.jpg')" >

              &nbsp;&nbsp;&nbsp;给自己起个昵称吧:
        <input id="uaerNameTxt" type="text"  style="width:160px;height:13px"/>
        <input id="upDownBtn" type="button" value="应用" onclick="upLine()" style="background: #ff9900;width:10%;height:30px"/>
        <span id="uuidLab"></span><br/>

               <textarea id="contentArea" name="contentArea"
                                          disabled="disabled"
                                          style="width:500px;height:200px;background:transparent;border-style:none;"></textarea>

            <textarea id="sendContent" style="width:500px;height:120px;padding:0px;margin:0px; font-size:30px;"></textarea>



                   <center> <input type="button" onclick="sendTalk()" value="发送"
                      style="width:20%;height:40px;margin:0px;border:0px;padding:0px;background: #ff9900" /></center>

    </div>
</div>
</body>
<script src="../video/js/Dvideo.js"></script>
<script type="text/javascript" src="/sockjs.js"></script>
<script type="text/javascript" src="/stomp.js"></script>
<script type="text/javascript">
    var nowUUID = "";
    var stompClient = null;

    window.onload = function() {

        //连接服务器
        var socket = new SockJS("/endpointWisely");
        stompClient = Stomp.over(socket);
        //响应事件监听
        stompClient.connect({}, function(frame) {
            //监听刷新当前登录人列表
            stompClient.subscribe("/refreshloginlist", function(respnose) {
                var serverObj = JSON.parse(respnose.body);//返回是一个当前登录人数组
                var nameArrStr = "";
                for (var i = 0; i < serverObj.length; i++) {
                    nameArrStr = nameArrStr + serverObj[i].name + "\n";
                }
                console.log(nameArrStr);
                userList.value = nameArrStr;
            });

            //监听刷新聊天窗口
            stompClient.subscribe("/refreshchatwindow", function(respnose) {
                var serverObj = JSON.parse(respnose.body);//返回是一个当前登录人数组
                var contentArea = document.getElementById("contentArea");
                var val = contentArea.value;
                var returnText = serverObj.sendUser+" "+serverObj.date+":\n "+"  "+serverObj.content+"\n ";
                contentArea.value = val + returnText;
                contentArea.scrollTop = contentArea.scrollHeight;
            });


            //刷新当前登录用户列表
            stompClient.send("/refreshLoginList", {}, {});
        });


        //键盘事件注册
        document.onkeydown = function(event) {
            //ctrl+enter发送消息
            if (window.event.ctrlKey && window.event.keyCode == 13) {
                sendTalk();
            }
        };
    }

    //上下线
    function upLine() {
        var upDownBtn = document.getElementById("upDownBtn");
        var uaerNameTxt = document.getElementById("uaerNameTxt");
        var uuidLab = document.getElementById("uuidLab");
        var userList = document.getElementById("userList");
        if (uaerNameTxt.value == "") {
            alert("请输入名称！");
            return;
        }
        if (upDownBtn.value == "应用") {
            upDownBtn.value = "退出";
            uaerNameTxt.readOnly = true;
            nowUUID = guid();
            uuidLab.innerText=nowUUID;
            //上线完成，添加用户
            var myObj = new Object();
            myObj.uuid = nowUUID;
            myObj.name = uaerNameTxt.value;
            var json_data = JSON.stringify(myObj);
            stompClient.send("/upLine", {}, json_data);
            $('#uuidLab').hide();
        } else {
            upDownBtn.value = "应用";
            uaerNameTxt.readOnly = false;
            //下线完成，删除用户jhkl,./.,
            var myObj = new Object();
            myObj.uuid = nowUUID;
            var json_data = JSON.stringify(myObj);
            stompClient.send("/downLine", {}, json_data);
            nowUUID = "";
            uuidLab.innerText=nowUUID;
        }
    }

    //发言
    function sendTalk() {
        var upDownBtn = document.getElementById("upDownBtn");
        if (upDownBtn.value == "应用") {
            alert("请填写昵称,开启你的学习交流！");
            return;
        }
        var userName = document.getElementById("uaerNameTxt").value;
        var sendContent = document.getElementById("sendContent");
        //往服务器发消息
        var myObj = new Object();
        myObj.sendUser = userName;
        myObj.content = sendContent.value;
        var json_data = JSON.stringify(myObj);
        stompClient.send("/talk", {}, json_data);
        sendContent.value = "";
        sendContent.focus();
    }

    //浏览器关闭事件 发起删除登录人消息
    window.onbeforeunload = onbeforeunload_handler;
    function onbeforeunload_handler() {
        //下线完成，删除用户
        var myObj = new Object();
        myObj.uuid = nowUUID;
        var json_data = JSON.stringify(myObj);
        stompClient.send("/downLine", {}, json_data);
    }

    //生成uuid
    function guid() {
        return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g,
            function(c) {
                var r = Math.random() * 16 | 0, v = c == 'x' ? r
                    : (r & 0x3 | 0x8);
                return v.toString(16);
            });
    }
</script>
<script>
    // window.onload = function () {
    var videoUrl = $('#getVideo').val();
    var videoName = $('#getVideoName').val();
    var videoWrap = document.getElementById('testVideo')
    var fullScreen = document.getElementById('getFullScreen')
    var video = new Dvideo ({
        ele: '#testVideo',
        title: videoName,
        nextVideoExtend: function () {
            alert('您点击了下一页')
        },
        showNext: true,
        width: '800px',
        height: '420px',
        src: 'https://yangjianguang.oss-cn-beijing.aliyuncs.com/education/1540386709369.mp4?Expires=1541410653&OSSAccessKeyId=TMP.AQHFmas5xFLocSDJd4ViFtQGsx_pH8cLoonQLXJzgTNWQC6CLcvfTHBSfHvgADAtAhRFsGvgHBFfCDIvgeI1Cf7jd0Sr8wIVAPA4TE87j0FpW1rYSxR1-eoVxKan&Signature=b1rRgCSrpLbbx%2BwNZpdtALkvXy8%3D',
        autoplay: true,
        setVideoDefinition: function (type, e, current) {
            if (type === '0') {
                alert('你点击了标清')
                // video.setVideoInfo('這是標清','这里填写视频的标清地址',current)
            }
            if (type === '1') {
                alert('你点击了高清')
                // video.setVideoInfo('這是標清','这里填写视频的高清地址',current)
            }
            if (type === '2') {
                alert('你点击了超清')
                // video.setVideoInfo('這是標清','这里填写视频的超清地址',current)
            }
            video.showLoading(false)

            // setTimeout(function () {
            // 	video.videoEle.currentTime = current
            // 	video.videoPlay()
            // 	video.showLoading(false)
            // }, 3000)
        },
    })

    // 全屏
    function setFullScreen () {
        video.launchFullScreen(videoWrap)
    }

    // 播放
    function play () {
        video.videoPlay()
    }

    // 暂停
    function pause () {
        video.videoPause()
    }

    // 播放暂停
    function playpause () {
        video.videoPlayPause()
    }

    function setVolume (v) {
        video.updateVolume(v)
    }

    function setBackRate (index) {
        video.setPlayBackRate(index)
    }

    function setVideoForward () {
        video.videoForward(10)
    }

    function setVideoRewind () {
        video.videoRewind(10)
    }

    function showLoading () {
        video.showLoading(true, '视频清晰度切换中，请稍等')
    }

    function showTopBottomCtrlNotClose () {
        video.showTopBottomCtrl()
    }

    function hideTopBottomCtrlLi () {
        video.hideTopBottomCtrl(true)
    }

    function showTopBottomCtrl () {
        video.showTopBottomCtrl(true)
    }

    function hideTopBottomCtrl () {
        video.hideTopBottomCtrl()
    }

    function setVideoSize () {
        video.updateVideoSize(720,480)
    }

</script>
<!--包含尾部进来-->
<footer class="footer">
    <p>Copyright © 2018 SSXZ. All Rights Reserved.</p>
    <p>金科在线教育教育有限公司@版权所有 | 金科教育服务协议</a> | <a href="" target="_blank">侵权投诉</a> | <a href="" rel="nofollow" report-tdw="action=Feedback" target="_blank">问题反馈</a> | <a href="" target="_blank">帮助</a></p>
</footer>
</html>