<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>广告管理</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">

</head>
<body>

<table class="layui-hide" id="demo" lay-filter="test"></table>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail" >新增</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<div class="layui-tab-item">
    <div id="pageDemo"></div>
</div>
<script src="/layui/layui.js"></script>
<script src="../layui/lay/modules/laypage.js"></script>
<script src="../jquery-1.9.1.min.js"></script>

<script>

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function(){
        var laydate = layui.laydate //日期
            ,laypage = layui.laypage //分页
            ,layer = layui.layer //弹层
            ,table = layui.table //表格
            ,carousel = layui.carousel //轮播
            ,upload = layui.upload //上传
            ,element = layui.element //元素操作
            ,slider = layui.slider //滑块

        //第一个实例
        table.render({
            elem: '#demo'
            ,height: 567
            ,url: '/user/queryadverPage' //数据接口
            ,method:'post'
            ,page: true //开启分页
            ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,totalRow: true //开启合计行

            ,cols: [
                [ //表头
                    {field:'imgid', title: '图片id',sort:true}
                    ,{field:'imgtitle', title: '标题'}
                    ,{field:'imginfo', title: '简介'}
                    ,{field:'typeName', title: '类型', templet: '#titleTpl'}
                    ,{field:'imghref', title: '图片', templet:'<div><img width="100px" height="100px" src="{{d.imghref}}"></div>'}
                    ,{fixed: 'right',title: '操作', align:'center', toolbar: '#barDemo'}
                ]
            ]
        });
//分页

        laypage.render({
            elem:'pageDemo'
            ,count:'count'
            ,curr:'page'
            ,limit:'limit'
            ,layout: ['prev', 'page', 'next', 'skip','count','limit']
            ,jump:function (obj,first) {
                if(!first){
                    curnum = obj.curr;
                    limitcount = obj.limit;

                    productsearch(productGroupId,curnum,limitcount);
                }
            }
        })


    });


    layui.use('table', function(){
        var table = layui.table;
        //监听表格复选框选择
        table.on('checkbox(demo)', function(obj){
            console.log(obj)
        });
        //监听工具条
        table.on('tool(test)', function(obj){
            var data = obj.data;
            var imgid = data.imgid;
            if(obj.event === 'detail'){
                layer.open({
                    type: 2,
                    title: '新增',
                    shadeClose: false, //点击遮罩关闭
                    shade: 0.8,
                    area: ['50%', '50%'],
                    maxmin: true,
                    closeBtn: 1,
                    content: ['/advertising/toadd', 'yes'], //iframe的url，yes是否有滚动条
                    end: function () {
                        location.reload();
                    }

                });
            }else if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    $.ajax({
                        url:'/advertising/deladvertising',
                        data:{
                            imgid:imgid,
                        },
                        dataType:'json',
                        type:'post',
                        success:function(){
                            layer.close(index);
                        }
                    })
                });
            }else if(obj.event === 'edit'){/!*'编辑行：<br>'+ JSON.stringify(data)*!/

                layer.open({
                    type: 2,
                    title: '修改',
                    shadeClose: false, //点击遮罩关闭
                    shade: 0.8,
                    area: ['50%', '50%'],
                    maxmin: true,
                    closeBtn: 1,
                    content: ['/advertising/queryadverbyid?imgid='+imgid, 'yes'], //iframe的url，yes是否有滚动条
                    end: function () {
                        layer.open({
                            type: 2,
                            title: '修改',
                            shadeClose: false, //点击遮罩关闭
                            shade: 0.8,
                            area: ['50%', '50%'],
                            maxmin: true,
                            closeBtn: 1,
                            content: ['/advertising/queryadverbyid?imgid='+imgid, 'yes'], //iframe的url，yes是否有滚动条
                            end: function () {
                                location.reload();
                            }

                        });
                    }

                });
            }


        })

    });

    function reloadData(){
        location.reload();
    }





</script>

<!--<script type="text/html" id="titleTpl">
    if({{d.imgtype}}=='1'){IT▪互联网}

    else if({{d.imgtype}}=='2'){设计▪创作}
    else if({{d.imgtype}}=='3'){语言▪留学}
    else if({{d.imgtype}}=='4'){职业▪考证}
    else if({{d.imgtype}}=='5'){升学▪考研}
    else if({{d.imgtype}}=='6'){兴趣▪生活}
</script>-->
</body>
</html>
